body {
    background-color: black;
    color: white;
    position: relative;
    margin: auto;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}

table {
    margin: auto;
}

.modal {
    text-align: center;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 73, 4);
    display: none;
    border-radius: 10%;
}